<form method="post" action="/pizzas/<%=@pizza.id%>">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name ="first_name" value ="<%=@pizza.first_name%>"/>
  <br/>

  <label for="last-name">First Name:</label>
  <input id="last-name" type="text" name ="last_name" value ="<%=@pizza.last_name%>"/>
  <br/>

  <label for="pizza-select">Select a Pizza:</label>
  <select id="pizza-select" name ="topping" value ="/pizzas/<%=@pizza.topping%>"/>
    <option value="Margherita" <%="selected" if @pizza.topping == "Margherita"%>>Margerita</option>
    <option value="Calzone" <%="selected" if @pizza.topping == "Calzone"%>>Calzone</option>
    <option value="Pepperoni" <%="selected" if @pizza.topping == "Pepperoni"%>>Pepperoni</option>
    <option value="Salami" <%="selected" if @pizza.topping == "Salami"%>>Salami</option>
    <option value="Four Cheeses" <%="selected" if @pizza.topping == "Four Cheeses"%>>Four Cheeses</option>
    <option value="Fish Dish" <%="selected" if @pizza.topping == "Fish Dish"%>>Fish Dish</option>
    <option value="Ice Cream"<%="selected" if @pizza.topping == "Ice Cream"%>>Ice Cream</option>
  </select>
  <br/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name ="quantity" value ="<%=@pizza.quantity%>"/>
  <br/>

  <input type="submit" value ="Update"/>
</form>
